/*
***
* CSS for the News page - Flexbox
***
* In this page, there will be a major container positioned in the middle of the screen just using automatic margin, and
* it will work as a flexbox for it's elements.
* When the screen is smaller, the cards change to 2x2 grids and the layout is changed to better accomodate the images
***
*/
#newsHeader {
    margin: auto;
    width: fit-content;
    height: auto;
    margin: 3.125rem auto;
    padding: 0 3rem;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cardNews {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    position: relative;
    margin: 1rem;
    width: 37.5rem;
    height: 35rem;
    background-color: white;
    border-radius: 0.625rem;
}
.newsImage {
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    width: 35%;
    height: 100%;
}
#firstNews {
    background-image: url("/resources/news/provence.png");
    background-position: center;
}
#secondNews {
    background-image: url("/resources/news/fume.png");
    background-position: center;
}
#thirdNews {
    background-image: url("/resources/news/corktree.png");
    background-position: center;
}
#fourthNews {
    background-image: url("/resources/news/plant.png");
    background-position: center;
}
#fifthNews {
    background-image: url("/resources/news/tokaji.jpg");
    background-size: cover;
    background-position: center;
}
.newsArticle {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
}
.newsArticle h1 {
    position: absolute;
    top:1.25rem;
    padding: 0 1.25rem;
    font-size: 1.75rem;
    
}
.newsArticle article {
    position: absolute;
    top: 4.375rem;
    padding: 1.5rem 0;
    margin: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}
.newsArticle .date {
    position: absolute;
    margin: 1.25rem;
    font-size: 0.9rem;
    bottom: 1.25rem;
}
/*tables and phones*/
@media only screen and (max-width: 620px){
    #newsHeader {
        font-size: 2.5rem;
    }
    .cardNews {
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18.75rem 32rem;
    }
    .newsImage {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: auto;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.625rem;
    }
    .newsArticle {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 100%;
    }
    .newsArticle h1 {
        font-size: 1.4rem;
        word-wrap: break-word;
    }
    .newsArticle article {
        margin: auto;
        padding: 1rem;
        font-size: 1rem;
    }
    .newsArticle .date {
        bottom: 0.25rem;
    }
}