* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html {
    height: 100%;
}

body:not(header) {
    background-color: rgba(0, 0, 0, .8);
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 285px; 
    height: 260px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/resources/banner.png);
    background-position: center bottom;
    background-size: cover;
}

#banner img {
    max-width: 500px;
    min-width: 280px;
    padding: 30px;
}

nav {
    display: flex;
    background-color: rgb(50, 35, 50);
    width: 100%;
    min-width: 285px; 
    height: 50px;
    align-items: center;
}

#allNavItems {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

#mainMenu {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.navItems {
    font-family: 'Alice', serif;
    color: white;
    font-size: 1.375rem;
    text-decoration: none;
}

#subMenu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgb(133, 85, 133);
    min-width: 200px;
    left: -10px;
    list-style-type: none;
}

#subMenu li a {
    display: block;
    padding: 15px;
    font-size: 1.1875rem;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgb(50, 35, 50);
}

#subMenu li a:hover {
    background-color: rgb(50, 35, 50);
}

#mainMenu:hover #subMenu{
    display: block;
}

#breadcrumbs > a {
    position: absolute;
    top: 320px;
    left: 10px;
    color: black;
    text-decoration: none;
}

.button {
    width: fit-content;
    color: #ffffff;
    font-size: 1.2rem;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 1rem 3rem;
    cursor: pointer;
}
footer {
    width: 100%;
    background-color: rgb(50, 35, 50);
    box-sizing: border-box;
    padding: 35px 20%;
    margin: 0;
    display: grid;
    grid-template-columns: 30% 70%;
}

.text, .text ul, .text ul li a {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    list-style-type: none;
    padding: 3px;
}

#footerRigth {
    font-size: 1.2rem;
    text-align: justify;
}

#footerLeft {
    word-wrap: break-word;
}

@media only screen and (max-width: 820px){
    footer {
        padding: 30px 10%;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 30px;
    }
}